@using Ecommerce_App.ViewModels
@model GetOrUpdateProductViewModel

@{
    Layout = "RegisterLayout";

    ViewData["Title"] = "Edit Product";
}

<h2 class="mb-4">Edit Product</h2>

<form asp-action="SaveEdit" asp-controller="Product" method="post" asp-route-id="@Model.ProductId">
    <input type="hidden" asp-for="ProductId" />

    <div class="form-group mb-3">
        <label asp-for="Name" class="form-label">Product Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Description" class="form-label">Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Price" class="form-label">Price (USD)</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="ImageUrl" class="form-label">Image</label>
        <img src="/Images/@Model.ImageUrl"accesskey="0" height="60" width="60 " />
        <input type="file" asp-for="ImageUrl"   class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="CategoryName" class="form-label">@Model.CategoryName</label>
        <input type="hidden" asp-for="CategoryId" />
        </div>
  

    <div class="form-group mb-3">
        <label asp-for="Stock" class="form-label">Stock</label>
        <input asp-for="Stock" class="form-control" />
        <span asp-validation-for="Stock" class="text-danger"></span>
    </div>



    <button type="submit" class="btn btn-success">Save</button>
    <a asp-action="Edit" asp-controller="Product" class="btn btn-secondary">Cancel</a>
</form>


